@import url(vendor/normalize.css);
* {
  outline: 1px solid tomato;
}
.page {
    background-color: #2A2C2F;
    
}

/* 1280 */
.header {
  margin: 0 auto;
  padding: 28px 48px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: calc(100% - 48px*2);
  background-color: #2A2C2F;
  box-sizing: border-box;
}

.header__logo {
  max-width: 176px;
  
}

.header__lang-links {
  margin-top: 18px;  
}

.header__lang-link {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}

.header__lang-link_active {
  text-decoration: underline;
}

.header__lang-link:first-child {
  margin-right: 18px;
}

/* .content {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  min-width: 320px;
} */


.lead {
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  max-width: 984px;
  padding: 0 148px;
}

.lead__title {
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
  min-height: 200px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  margin: 0 auto;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 64px;
  width: 640px;
  height: 72px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;

}

.lead__image {
width: 100%;
}

.lead__caption {
margin: 0;
margin-top: 8px;
height: 14px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 1.4;
letter-spacing: 1.5px;
text-transform: uppercase;
color: #FFFFFF;
text-align: left;
}

.intro {
  margin: 0 auto;
  width: calc(100% - 2*148px);
  padding: 92px 0;
}

.intro__title {
margin: 0;
margin-bottom: 40px;
max-width: 690px;
min-height: 58px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 1.07;
color: #FFFFFF;
}

.intro__text {
max-width: 690px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.63;
color: #FFFFFF;
}

.intro__list {
  margin: 0;
  padding: 0;
  width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  list-style-type: none;
}

.intro__list_number {
  font-weight:700;
}



.photo-grid {
  margin: 0 auto;
  width: calc(100% - 2*48px);
}

.photo-grid__items {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}

.places {
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  width: calc(100% - 148px*2);
}

.place {
margin-top: 80px;
margin-bottom: 80px;
display: grid;
justify-content: space-around;
grid-template-columns: repeat(2, 1fr);
column-gap: 40px;
row-gap: 48px;
}

.place__title {
margin: 0;
padding: 0;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 1.06;
color: #FFFFFF;

}

.place__image {
width: 100%;

}

.place__website {
display: flex;
flex-direction: column;
align-self: flex-end;
}

.place__url-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.22;
text-decoration-line: underline;
color: #FFFFFF;
}

.place__paragraph {
margin: 0;
padding: 0;
  
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.63;
color: #FFFFFF;

}

.place__paragraph:nth-child(2) {
  margin-top: 26px;
}

.cover {
  margin: 0 auto;
  max-width: 1184px;
  height: 740px;
  
  background-image: url(./images/cover-trains.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.cover__title {
  margin: 0;
  padding: 0;
  max-width: 560px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;

}


.cover__subtitle {
width: 360px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.22;
text-align: center;
color: #FFFFFF;

}

.footer {
  margin: 0 auto;
  width: calc(100% - 2*48px);
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 92px 48px 24px;
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-self: left;
  align-items: center;

}

.footer__list-item {
  list-style-type: none;
  margin-right: 18px;
}

.footer__link {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration: none;
  
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__copyright {
margin: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.14;
text-align: right;
color: #FFFFFF;
}