.header__lang-list {
  margin: 0;
  padding-top: 18px;
  display: flex;
  list-style: none;
  align-self: flex-start ;
}
@media (max-width: 767px) {
  .header__lang-list {
    padding-top: 14px;
  }
}
