.header__lang-list {
  margin: 0;
  padding: 18px 0 0 0;
  display: flex;
  list-style: none;
  align-self: flex-start;
}
@media (max-width: 767px) {
  .header__lang-list {
    padding: 14px 0 0 0;
  }
}
