.photo-grid__items {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media (max-width: 480px) {
  .photo-grid__items {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}